@import "tailwindcss";

:root {
  --brand-peach: #CABBA0;
  --brand-steelblue: #576270;
  --brand-red: #DD0000;
}

@theme {
  --color-brand-peach: #CABBA0;
  --color-brand-steelblue: #576270;
  --color-brand-red: #DD0000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
